// Font families

$fontstyle1: 'Exo', sans-serif;
$fontstyle2: 'Asap', sans-serif;
$fontstyle3: 'Staatliches', cursive;;
$fontstyle4: 'Mulish', sans-serif;
$fontstyle5: 'Teko', sans-serif;

// Font sizes

$s1: 15px;
$s2: 25px;
$s3: 35px;
$s4: 45px;
$s5: 55px;
$s6: 65px;
$s7: 75px;
$s8: 85px;
$s9: 95px;
$s10: 105px;
$s11: 115px;
$s12: 125px;

$huge: 20em;

// Gradients

$gradient1: linear-gradient(to right, #081930, #00eeff 80%);
$gradient2: linear-gradient(to left, #121744, #00c5df 100%);
$gradient3: linear-gradient( #19c9ff, #004a53 100%);
$gradient4: linear-gradient(to right, #00c3ff, #113f5e 100%);

